.squareClass {
	height: 30px;
	width: 30px;
	padding: 10px;
	display: inline-flex;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;

	background-color: #666666;
	border: 2px solid rgb(0, 0, 0);

	/* -webkit-user-select: none;
	-ms-user-select: none; 
	user-select: none;  */
}

.test1000 {
	background-color: #0098ff;
}

.block {
	width: 300px;
	display: table-cell;
	border: solid #0058aa 1px;
}

.blocchetto {
	display: table-row;
}

.tabellona {
	display: inline-block;
	width: 492px; /*	see if i can do it dynamic */
	border: solid #0058aa 1px;
}
