.squareClass {
	height: 30px;
	width: 30px;
	padding: 10px;
	display: inline-flex;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(0, 0, 0);

	background: #666666;
}

.error {
	background: #ff0000;
}

.focus {
	background: #0098ff;
}

.valueNotZero {
	background: #474747;
}

.block {
	width: 300px;
	display: table-cell;
	border: solid #0058aa 1px;
}

.blocchetto {
	display: table-row;
}

.tabellona {
	display: inline-block;
	width: 492px; /*	see if i can do it dynamic */
	border: solid #0058aa 1px;
}
