.listContainer {
	font-family: Arial, sans-serif;
	width: 500px;
	height: 600px;
	overflow-y: overlay;
	border: 1px solid #ccc;
	display: inline-block;
}

.listItem {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2px;
	padding-right: 5px;
	border-bottom: 1px solid #ccc;
}

.itemBox {
	/* flex: 1; */
	/* padding: 5px; */
	height: 60px;
}

.icon {
	color: #007bff;
	width: 90px;
}

.difficulty {
	font-weight: bold;
	min-width: 80px;
}
.header {
	color: #c3c3c3;
}

.time {
	min-width: 50px;
	color: #0075bc;
}

.timestamp {
	color: #999;
	width: 90px;
}

.statusIcon {
	width: 50px;
}

.comment {
	width: 240px;
}

.commentIcon {
	width: 30px;
}

.hard {
	color: #6f1f1f;
}
.medium {
	color: #c19a00;
}
.easy {
	color: #5ec100;
}
